{% extends 'base.html.twig' %}

{% block content %}
    <h1>Carts list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for cart in carts %}
            <tr>
                <td><a href="{{ path('cart_show', { 'id': cart.id }) }}">{{ cart.id }}</a></td>
                <td>{% if cart.status %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cart_show', { 'id': cart.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
