{% extends 'base.html.twig' %}

{% block content %}
    <h1>Cart</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cart.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{% if cart.status %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cart_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
