{% extends 'base.html.twig' %}

{#{% block header %}

   #}{# <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ path('register_user') }}">Register</a></li>


        </ul>

    </div>#}{#


{% endblock %}#}


{% block content %}

    <p> Welcome to the Bike store ! </p>


{% endblock %}

