{% extends 'base.html.twig' %}

{% block content %}

<div class="container">

    <div class="col-md-4 col-md-offset-4">
        <form action="{{ path('login_user') }}" method="post">
            <div class="form-group">
            <label for="username">E-mail:</label>
            <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}"/>
            </div>
            <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" class="form-control" />
            </div>
            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}
            <div class="form-group">
            <button class="btn btn-primary" type="submit">Login</button>
            </div>
            {% if error %}
                <div class="alert alert-danger form-group">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </form>
    </div>


</div>









{% endblock %}

{% block title %}
Login
{% endblock %}

